# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/compile_commands.json
*.json
build/.cmake/api/v1/query/client-integration-vscode/cache-v2
build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
*.cmake
build/CMakeCache.txt
build/CMakeFiles/3.22.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/Makefile
build/compile_commands.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/Scacchiera.dir/link.txt
build/CMakeFiles/Scacchiera.dir/flags.make
build/CMakeFiles/Scacchiera.dir/DependInfo.cmake
build/CMakeFiles/Scacchiera.dir/compiler_depend.make
build/CMakeFiles/Scacchiera.dir/compiler_depend.internal
build/CMakeFiles/Scacchiera.dir/build.make
build/CMakeFiles/Makefile2
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/3.22.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeCache.txt
build/cmake_install.cmake
